# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [4]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
print(a[-3:])

[4, 5, 6]

In [11]:
# create a list of numbers from 1 to 20
li = [i for i in range(1,21)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
li2 = [i for i in range(2, 100, 2)]
print(li2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [18]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(a, b):
    return a/b

In [21]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1,31):
    if i%3 == 0 and i%5 ==0: 
        print('fizzbuzz')
    elif i%3 == 0: 
        print('fizz')
    elif i%5 ==0: 
        print('buzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

In [29]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("starbucks.csv")
df.head()

         beverage_category       beverage  ... iron  caffeine
0                   coffee  brewed coffee  ...  0.0     175.0
1                   coffee  brewed coffee  ...  0.0     260.0
2                   coffee  brewed coffee  ...  0.0     330.0
3                   coffee  brewed coffee  ...  0.0     410.0
4  classic espresso drinks     caff latte  ...  0.0      75.0

[5 rows x 18 columns]

In [33]:
# select all rows with more than and including 400 calories
df2 = df[df['calories'] > 400]
df2

In [36]:
# select all rows whose vitamin c content is higher than the iron content
df3 = df[df['vitamin c'] > df['iron']]
df3

In [39]:
# create a new column containing the caffeine per calories of each drink
df['caffeine_per_calorie'] = df['caffeine'] / df['calories']
df

            beverage_category  ... caffeine_per_calorie
0                      coffee  ...            58.333333
1                      coffee  ...            65.000000
2                      coffee  ...            66.000000
3                      coffee  ...            82.000000
4     classic espresso drinks  ...             1.071429
..                        ...  ...                  ...
237  frappuccino blended crme  ...             0.000000
238  frappuccino blended crme  ...             0.000000
239  frappuccino blended crme  ...             0.000000
240  frappuccino blended crme  ...             0.000000
241  frappuccino blended crme  ...             0.000000

[242 rows x 20 columns]

In [42]:
# what is the average calorie across all items?
print(df['calories'].mean())

193.87190082644628

In [45]:
# how many different categories of beverages are there?
print(df["beverage_category"].nunique())

9

In [48]:
# what is the average # calories for each beverage category?
average_cal_per_category = df.groupby('beverage_category')['calories'].mean()
print(average_cal_per_category)

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64